@import "global-variables";

html {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
*, *:before, *:after {
	-moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit;
}
html {
	//Set base font size to 10px
	font-size: $baseFontSize;
	height: 100%;
}
body {
	background: $bgColor;
	color: $secondaryColor;
	font-family: 'Open Sans', sans-serif;
	//Set body font size to 16px based on the parent font size of 10px
	font-size: $contentFontSize;
	height: 100%;
	line-height: (1 / 16) * (16 * $ratio) + em;
	-webkit-font-smoothing: antialised; 
}