.cf:before,
.cf:after, .row:before, .row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after, .row:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, .row {
	*zoom: 1;
}