@import "global-variables";

input, label, textarea {
	display: block;
	width: 100%;
}
input, textarea, select {
	border: 1px solid #aaa;
	border-radius: 2px;
	margin-bottom: 0.625em;
	padding: 0.625em;
}
input[type='checkbox'], input[type='radio'] {
	width: auto;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 4px;
	+ label {
		padding-left: 1.25em;
	}
}
button {
	border: none;
	margin-top: 0.625em;
}
.frmRow {
	margin-bottom: 0.625em;
	position: relative;
}
