@import "global-variables";

.info {
	background: url('../images/info-icon.png') no-repeat right 5px;
	display: inline-block;
	padding-right: 20px;
	position: relative;
	&:hover {
		text-decoration: none;
		.tooltip {
	  		display: block;
		}
	}
	.tooltip {
		background: $tooltipBg;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
		border-radius: 5px;
		border: 1px solid #d8d8d8;
		display: none;
		padding: 10px;
		position: absolute;
		right: -10px;
		width: $tooltipWidth;
		z-index: 2;
	}
	&.tool-bottom .tooltip {
		&:after {
			border-bottom: 10px solid #eaeaea;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			content: "";
			height: 0;
			position: absolute;
			right: 6px;
			top: -10px;
			width: 0;
		}
	}
	&.tool-right .tooltip {
		right: -294px;
		top: -5px;
		&:after {
			border-right: 10px solid #eaeaea;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			content: "";
			height: 0;
			position: absolute;
			left: -10px;
			top: 6px;
			width: 0;
		}
	}
	&.tool-left .tooltip {
		box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
		left: -294px;
		top: -4px;
		&:after {
			border-left: 10px solid #eaeaea;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			content: "";
			height: 0;
			position: absolute;
			right: -10px;
			top: 6px;
			width: 0;
		}
	}
	&.tool-top .tooltip {
		bottom: 38px;
		box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4), 0 -2px 2px rgba(0, 0, 0, 0.4);
		left: 0;
		right: auto;
		&:after {
			border-top: 10px solid #eaeaea;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			bottom: -10px;
			content: "";
			height: 0;
			left: 7px;
			position: absolute;
			width: 0;
		}
	}
}
